body {
	margin: 0px;
}
h1 {
	margin-top: 10%;
	background-color: #122181;
	width: 50%;
	height: 30%;
	font-size: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;
}
.background {
	background-color: #060e3f;
	display: flex;
	justify-content: center;

	height: 100vh;
	background-image: url("images/3173453.png");
	background-size: 60vh;
	background-repeat: no-repeat;
	background-position: bottom 20px right 20px;
}
main {
	background-color: #cbdcf8;
}

* {
	font-family: "Roboto", serif;
	nav {
		position: fixed;
		margin: 0px;
		z-index: 100;
	}
	nav ol {
		margin: 0px;
		display: flex;
		height: 50px;
		list-style: none;
		padding-top: 5px;
		width: 97.2vw;
		align-items: center;
		justify-content: flex-end;
		background-color: #040929;

		li {
			margin-right: 1%;
			display: flex;
			justify-content: center;
			align-items: center;

			background-color: #193b7e;

			border-radius: 5px;
			a {
				justify-content: center;
				align-items: center;
				width: 100px;
				height: 30px;
				display: flex;
				text-decoration: none;
				color: aliceblue;
			}
		}
		li:hover {
			background-color: #1f4ca7;
		}
	}
	button {
		margin-right: 1%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #193b7e;
		border-radius: 5px;
		width: 100px;
		height: 30px;
		color: white;
		border: none;
		outline: none;
	}
	button:hover {
		background-color: #1f4ca7;
	}
	.dropdown {
		float: left;
		overflow: hidden;
		border-radius: 0px;
	}

	.navbar a:hover,
	.dropdown:hover .dropbtn {
		background-color: #1f4ca7;
		width: 100px;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		width: 100px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		z-index: 1;
	}

	.dropdown-content a {
		float: none;
		color: aliceblue;
		background-color: #193b7e;
		padding-top: 10px;
		text-decoration: none;
		width: 100px;
		border-radius: 0px;
		display: block;
		text-align: center;
	}
	.dropdown-content a:first-of-type {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	.dropdown-content a:last-of-type {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	.dropdown-content a:hover {
		background-color: #1b57cf;
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}
}
.pbox {
	min-height: 30vh;
	position: relative;
	border-radius: 5px;
}
.pbox a {
	background-color: #061359;
	color: aliceblue;
	text-decoration: none;
	padding: 10px;
}
.pbox a:hover {
	background-color: rgb(38, 38, 138);
}
.box {
	display: flex;
	align-items: center;
	gap: 50px;
}
@media (min-width: 1000px) {
	h2 {
		background-color: #1b418d;
		width: 15%;
		position: relative;
		height: 15%;
		justify-content: center;
		display: flex;
		align-items: center;
		color: aliceblue;
	}
	#box2,
	#box4 {
		justify-content: flex-end;
		margin-right: 5%;
	}
	#box1,
	#box3 {
		justify-content: flex-start;
		margin-left: 5%;
	}
	#boxone {
		h2 {
			margin-left: 5%;
		}
		background-image: url("images/11455493.png");
		background-color: #cbdcf8;
		background-size: 40vh;
		background-position: bottom right 10vw;
		background-repeat: no-repeat;
	}
	#boxtwo {
		h2 {
			margin-left: auto;
			margin-right: 5%;
		}
		background-color: #060e3f;
		background-image: url("images/4325546.png");
		background-repeat: no-repeat;
		background-size: 60vh;
		background-position: bottom 50px left 30px;
	}
	#boxthree {
		h2 {
			margin-left: 5%;
		}
		background-color: #cbdcf8;
		background-image: url("https://penntoday.upenn.edu/sites/default/files/2022-02/Plotkin-cooperation.jpeg");
		background-size: 80vh;
		background-repeat: no-repeat;
		background-position: right;
	}
	#boxfour {
		h2 {
			margin-left: auto;
			margin-right: 5%;
		}
		background-color: #060e3f;
		background-image: url("images/Cerulean-12.png");
		background-repeat: no-repeat;
		background-size: 80vh;
		background-position: bottom left;
	}
	.box:nth-child(even) > img {
		order: 1;
		display: none;
	}
	.box:nth-child(even) > .pbox {
		order: 2;

		a {
			position: absolute;
			right: 10px;
			bottom: 10px;
		}
	}

	.boxs:nth-child(odd) > .box img {
		order: 2;
		display: none;
	}
	.boxs:nth-child(odd) > .box .pbox {
		order: 1;
	}
	.boxs {
		padding-top: 60px;
		padding-bottom: 120px;

		.pbox {
			width: 50vw;
			background-color: #1f4ca7;
			color: aliceblue;
			padding: 40px;
			padding-top: 10px;
			font-size: 20px;
			line-height: 30px;
		}

		img {
			width: 35vw;
			max-height: 40vh;
		}
	}
}
@media (max-width: 1000px) {
	.box {
		flex-direction: column;
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		width: 20vw;
		height: 5vh;
		background-color: rgb(20, 35, 75);
		color: aliceblue;
	}
	.boxs {
		height: 80vh;
		padding-top: 20px;
		.pbox {
			width: 80vw;

			background-color: #060e3f;
			padding: 20px;
			font-size: 20px;
		}
		img {
			width: 80vw;
			height: 30vh;
		}
	}
	.box > .pbox {
		order: 1;
	}
}
img,
p,
h1,
h2,
a {
	border-radius: 10px;
}
